## Teacher Data Analysis Part 1

In [1]:
#import libraries
import mysql.connector as sq

mysql_db = sq.connect(host="127.0.0.1", user="root", passwd="", buffered=True)
mycursor = mysql_db.cursor()

In [3]:
mycursor.execute("SHOW DATABASES")

In [4]:
for db in mycursor:
    print(db)

('cookies',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [6]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS nj_state_teachers_salaries")

In [7]:
mycursor.execute("SHOW DATABASES")

In [8]:
for db in mycursor:
    print(db)

('cookies',)
('information_schema',)
('mysql',)
('nj_state_teachers_salaries',)
('performance_schema',)
('sys',)

In [9]:
mycursor.execute("CREATE TABLE nj_state_teachers_salaries.teachers_salaries(id INT NOT NULL, last_name VARCHAR(200) NOT NULL, \
first_name VARCHAR(200) NOT NULL, county VARCHAR(200) NOT NULL, district VARCHAR(200) NOT NULL, school VARCHAR(200) NOT NULL, \
primary_job VARCHAR(200) NOT NULL, fte FLOAT NOT NULL, salary VARCHAR(200) NOT NULL, certificate VARCHAR(200) NOT NULL, \
subcategory VARCHAR(200) NOT NULL, teaching_route VARCHAR(200) NOT NULL, highly_qualified VARCHAR(200) NOT NULL, \
experience_district INT NOT NULL, experience_nj INT NOT NULL, experience_total INT NOT NULL, PRIMARY KEY (id))")

In [10]:
mycursor.execute("USE nj_state_teachers_salaries")

In [11]:
mycursor.execute("SHOW TABLES")

In [12]:
for table in mycursor:
    print(table)

('teachers_salaries',)

In [13]:
#escaping sql and loading data original

SQLCMD = "LOAD DATA INFILE '/cnf/nj_teachers.csv'\
INTO TABLE nj_state_teachers_salaries.teachers_salaries FIELDS TERMINATED BY ',' \
OPTIONALLY ENCLOSED BY '\"' LINES TERMINATED BY '\\n' IGNORE 1 ROWS"

mycursor.execute(SQLCMD)

In [14]:
mysql_db.commit()

In [15]:
cmd = "select count(*) from \
                 nj_state_teachers_salaries.teachers_salaries"
mycursor.execute(cmd)
count = mycursor.fetchone()[0]

print(f"Number of rows in teachers_salaries table : {count}")

Number of rows in teachers_salaries table : 100003

In [16]:
cmd = """SELECT COUNT(*) \
                FROM INFORMATION_SCHEMA.COLUMNS \
                WHERE table_schema = 'nj_state_teachers_salaries' \
                AND table_name = 'teachers_salaries'"""
mycursor.execute(cmd)
count = mycursor.fetchone()[0]
print(f"Number of columns in teachers_salaries table : {count}")

Number of columns in teachers_salaries table : 16